.h2{
    background-color: #a8ebb7;  
}
.biodata {
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0.25rem 0.75rem rgba(211, 204, 204, 0.03);
    transition: all .3s;
    background-color: #8fafb8;
    border: solid 8px #1e3a77;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .foto {
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
    }

    body {
        display: block;
        overflow-x: hidden;
        background-image: url('background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    nav {
        background-color: rgb(32, 98, 184);
    }
    
    .navbar-brand img{
        max-height: 50px;
    }
    .navbar-brand{
        font-size: 21 px;
        text-transform: uppercase;
        font-weight: 900;
        color: goldenrod;
    }
    
    nav ul li a {
        color: cadetblue;
        font-size: 18px;
        margin: auto 10px;
    }
    
    .container h3{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 50px;
        font-size: 50px;
        font-weight: 100%;
        margin: 0;
    }

    table,th{
        border:3px solid rgb(76, 128, 129);
        background-color: aliceblue;
        text-align: center;
        font-size: 15px;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        table-layout: auto;
        tab-size: 500px 450px;
        color: rgb(52, 121, 138);
        float: center;
    }
    tr, td{
        border: 2px solid cadetblue;
        padding: 10px;
    }